<h1>Display your Pirate here</h1>
  <label for="name"> Pirate Name:</label>
  <input type="text" id="name" name="name">
  <label for="weight"> Pirate Weight:</label>
  <input type="text" id="weight" name="weight">
  <label for="height"> Pirate Height:</label>
  <input type="text" id="height" name="height">

<h2>Display your first ship here</h2>
  <label for="name"> Ship Name:</label>
  <input type="text" id="name" name="name">
  <label for="type"> Ship Type:</label>
  <input type="text" id="type" name="type">
  <label for="booty"> Ship Booty:</label>
  <input type="text" id="booty" name="booty">

<h2>Display your second ship here</h2>
